@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<p>Welcome to your dashboard</p>

<p>[Current Goals]</p>

<p>[Progress Tracker]</p>

<p>[Leading Goals]</p> <p>[Click me to add new goals]</p>
<p>[Leading Crisis]</p><p>[Click me to add new crisis]</p>
<p>[Worst Case]</p> <p>[Click me to add new worst case scenario]</p>

<p>[MOTIVATIONAL QUOTE/ MANIFESTATION QUOTE]</p>


