@page "/"

<PageTitle>AURA</PageTitle>

<div class="home-container">

    <h1 class="aura-title">AURA</h1>
    <h2 class="welcome-text">Welcome back, gorgeous 💖</h2>

    <p class="intro-text">
        I’m AURA — your goal, balance, and self-care bestie.
    </p>

    <div class="card">
        <h3 class="verse-text">🌸 Daily Verse</h3>
        <p class="verse-text">“@DailyVerse”</p>
    </div>

    <div class="card">
        <h3 class="verse-text">📅 Today</h3>
        <p class="verse-text">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</p>
     
        <h3 class="daily-question">
            How would you like to start your day?
        </h3>

        <div class="start-options">
            <NavLink class="option-card" href="/meditation">
                Calm & Centered
            </NavLink>
             <NavLink class="option-card" href="/meditation">
                 Reflection & Prayer
            </NavLink>
             <NavLink class="option-card" href="/meditation">
                Focus & Discipline
            </NavLink>
             <NavLink class="option-card" href="/meditation">
                 Gentle Self-Care
            </NavLink>
              <NavLink class="option-card" href="/meditation">
                 Therapy
            </NavLink>
        </div>
        </div>

    <div class="card">
        <h3 class="verse-text" >💭 How are you feeling?</h3>
        <ul class="verse-text">
            <li><strong>Stressed?</strong> → Pause. Breathe. One thing at a time.</li>
            <li><strong>Anxious?</strong> → You are safe. You are held.</li>
            <li><strong>Lukewarm?</strong> → Rest is part of growth.</li>
        </ul>
    </div>

    <footer class="aura-footer">
        AURA © 2025 
    </footer>

</div>

@code {
    string DailyVerse => verses[
        DateTime.Now.Day % verses.Length
    ];

    string[] verses = new[]
    {
        "Be still, and know that I am God. — Psalm 46:10",
        "I can do all things through Christ who strengthens me. — Philippians 4:13",
        "The Lord is my shepherd; I shall not want. — Psalm 23:1",
        "She is clothed with strength and dignity. — Proverbs 31:25",
        "Trust in the Lord with all your heart. — Proverbs 3:5"
    };
}


