@page "/"

<PageTitle>Home</PageTitle>

<h1>AURA</h1>

<h2>Welcome Back Gorgeous</h2>

<p>I am AURA, Your goal, balance, and self-care BESTIE.</p>

<p>[Daily bible verse]</p>

<p>[Today's date & a question on how you want to start off your day... MAYBE SOME MEDITATION?]</p>

<p>[Feeling stressed?    SOLUTION]</p>
<p>[Feeling anxious?    SOLUTION]</p>
<p>[Feeling lukewarm?    SOLUTION]</p>

<p>[footer AURA 2025]</p>
