@page "/worst-case"

<PageTitle>Worst Case</PageTitle>

<h1>Worst Case Scenario</h1>

<h2>Seems like someone is starting to lose the plot....</h2>

<p>Let me remind you....</p>

<p>[VISION BOARD]</p>

<p>Play me to continue standing on business</p>
<p>[AUDIO]</p>